affaldsspand
skraldespand
pedalspand
spand
kompostbeholder
komposttønde
kompostbunke
affaldspose
skraldepose
affaldssæk
skraldesæk
plasticsæk
plastsæk
papirsæk
affaldscontainer
genbrugscontainer
tromle
gifttromle
ajlebeholder
gyllebeholder
gylletank
fodertrug
krybbe
madskål
hundeskål
foderbræt
fuglebræt
foderhus
fuglehus
kurv
hundekurv
akvarium
saltvandsakvarium
mælkejunge
junge
container
transportkasse
flyttekasse
kuvert
konvolut
A4-kuvert
A5-kuvert
rudekonvolut
rudekuvert
boblekuvert
svarkuvert
frankeret svarkuvert
frankeret svarkuvert
adresseret svarkuvert
særkuvert
førstedagskonvolut
førstedagskuvert
brevkasse
brevkasse
brevindkast
postkasse
brevsprække
dørsprække
postboks
boks
droptank
brændstoftank
bagagebånd
bagagevogn
kaffekande
kaffemaskine
stempelkande
espressomaskine
madam Blå
kaffekop
kaffestel
tekande
tepotte
tekop
tekrus
gryde
kasserolle
madgryde
suppegryde
fiskegryde
kødgryde
riskoger
jerngryde
støbejernsgryde
smedejernsgryde
klæberstensgryde
kobbergryde
kobbertøj
kobber
pande
stegepande
grillpande
sauterpande
wok
teflonpande
æbleskivepande
kedel
dyppekoger
elkedel
elkande
skål
røreskål
salatskål
frugtskål
konfektskål
sovseskål
kalabasskål
keramikskål
glasskål
sølvskål
bowle
punchebolle
terrin
suppeterrin
stegeso
rømertopf
dejfad
grødfad
sulefad
lerfad
serveringsfad
kagefad
sølvfad
trefod
kabaretfad
kabaret
opsats
træfad
salatfad
fiskefad
egefad
egetræsfad
saltbøsse
saltkar
flaske
glasflaske
plasticflaske
enlitersflaske
literflaske
halvandenlitersflaske
halvflaske
halv flaske
returflaske
genbrugsflaske
sodavandsflaske
colaflaske
lommelærke
klukflaske
sutteflaske
flaske
patteflaske
ølflaske
bajerflaske
brændevinsflaske
snapseflaske
cognacflaske
vodkaflaske
whiskyflaske
vandflaske
vanddunk
vandkrukke
vandkøler
drikkedunk
feltflaske
kande
karaffel
kaffekande
sølvkaffekande
termokande
stempelkande
samovar
temaskine
tepotte
tekande
flødekande
mælkekande
bakke
plasticbakke
alubakke
foliebakke
karton
juicekarton
mælkekarton
brik
saftbrik
skål
lille/stor skål
dyb/flad skål
ildfast/ovnfast skål
skåle og fade
skåle og tallerkener
glasskål
keramikskål
metalskål
sølvskål
kalabasskål
røreskål
dejfad
konfektskål
bonbonniere
sukkerskål
terrin
suppeterrin
bowle
punchebolle
sovseskål
sovsekande
salatskål
frugtskål
saltbøsse
saltkar
målebæger
litermål
rummål
vægtskål
gryde
tykbundet gryde
kasserolle
trykkoger
jerngryde
kobbergryde
klæberstensgryde
smedejernsgryde
støbejernsgryde
stegegryde
frituregryde
fonduegryde
kogekedel
henkogningskedel
fiskegryde
kødgryde
riskoger
suppegryde
gryde
madgryde
potte
lerpotte
jydepotte
kedel
elkedel
kogekedel
fløjtekedel
vandkedel
kombikedel
shaker
blender
melryster
form
bageform
springform
randform
hjerteform
linseform
patéform
rugbrødsform
sandkageform
tærteform
bradepande
fad
serveringsfad
lerfad
sølvfad
træfad
lågfad
sulefad
salatfad
fiskefad
gratinfad
grøntsagsfad
kabaretfad
kagefad
bøtte
plasticbeholder
madkasse
syltetøjsglas
sylteglas
krukke
syltekrukke
glaskrukke
honningkrukke
lerkrukke
smørkrukke
dåse
aluminiumdåse
metaldåse
blikdåse
konservesdåse
sardindåse
coladåse
øldåse
junge
mælkejunge
mælkespand
malkespand
anker
vinanker
ølanker
egefad
egetræsfad
tønde
øltønde
vintønde
ballon
champagnekøler
vinkøler
skål
glasskål
keramikskål
portionsskål
portionsglas
tykmælksskål
dyb tallerken
suppetallerken
tallerken
flad tallerken
stor tallerken
desserttallerken
asiet
isasiet
kagetallerken
sidetallerken
paptallerken
sølvtallerken
tintallerken
glas
drikkeglas
krystalglas
plasticglas
vandglas
ølglas
vinglas
hvidvinsglas
rødvinsglas
puncheglas
snapseglas
cognacglas
whiskyglas
hedvinsglas
likørglas
portvinsglas
sherryglas
bæger
drikkebæger
papbæger
papkrus
plastickrus
plasticbæger
guldbæger
sølvbæger
tandkrus
tandglas
krus
tekrus
ølkrus
blikkrus
tinkrus
kop
kaffekop
mokkakop
espressokop
tekop
kalk
mugge
drikkekar
pokal
bæger
pokal
gral
alterkalk
guldbæger
sølvbæger
pokal
bæger
pokal
gral
alterkalk
spray
spraydåse
aerosoldåse
dråbeflaske
sprayflaske
medicinflaske
flakon
glasflakon
tube
tandpastatube
malerbøtte
plastbøtte
tube
farvetube
patron
blækpatron
tonerpatron
kulsyrepatron
tønde
gifttønde
krudttønde
tromle
gifttromle
trykbeholder
trykkammer
toiletkumme
wc-kumme
wc-cisterne
wc-skål
toilet
wc
vandsparetoilet
das
latrin
multtoilet
træk og slip
vandkloset
tønde
urinal
toiletspand
kloset
tørkloset
lokumsspand
potte
natpotte
opsamlingstank
samletank
septiktank
rådnetank
gylletank
gyllebeholder
lavtskyllende wc
lavtskyllende wc
højt skyl
kobberkedel
kedel
dampkedel
skoldekar
kogekar
saltekar
saltkar
bryggerkar
mæskekar
syrebad
fikserbad
kalkbalje
murerbalje
glasbeholder
kolbe
ampul
reagensglas
bægerglas
petriskål
prøverør
retort
autoklav
pøs
øsekar
øse
køler
ekspansionsbeholder
overløbsbeholder
ponton
stenkar
tank
brændstoftank
benzintank
reservetank
reaktor
bioreaktor
flyttekasse
transportkasse
trækasse
flamingokasse
jernkasse
metalkasse
blikkasse
glaskasse
ølkasse
ramme
fiskekasse
sildekasse
hyttefad
førstehjælpskasse
medicinkasse
værktøjskasse
malerkasse
kramkiste
æske
boks
blikæske
papæske
papkarton
bokssæt
pladesæt
pakning
emballage
indpakning
etui
foderal
brilleetui
brillefoderal
pung
tobakspung
syæske
syskrin
kurv
fletkurv
vidjekurv
spånkurv
sivkurv
vasketøjskurv
tøjkurv
snavsetøjskurv
hundekurv
kurv
brødkurv
brødbakke
brødkasse
brødbakke
dåse
kaffedåse
tedåse
kagedåse
kagekasse
klejnekasse
kiksdåse
tobaksdåse
snusdåse
snustobaksdåse
bakke
serveringsbakke
præsenterbakke
kaffebakke
tebakke
sølvbakke
metalbakke
skuffe
skrivebordsskuffe
askeskuffe
varmeskuffe
frostboks
fryseboks
fryser
dybfryser
fryseskab
kummefryser
frysedisk
køledisk
kølemontre
kulbækken
fyrfad
røgelseskar
pengekasse
kasse
boks
bankboks
døgnboks
postboks
boks
brevkasse
postkasse
kabinet
kassette
kartotekskasse
bankkassette
valgurne
stemmeurne
stemmeboks
kiste
pengekiste
glaskiste
skatkiste
skatkiste
bøsse
sparebøsse
raslebøsse
kirkebøsse
skrin
smykkeskrin
sølvskrin
helgenskrin
relikvieskrin
selskabstaske
visittaske
sportstaske
posetaske
pølsetaske
jordemodertaske
lægetaske
indkøbstaske
shopper
mulepose
net
indkøbsnet
indkøbspose
bærepose
indkøbspose
net
indkøbsnet
indkøbskurv
kurv
madkurv
picnickurv
frokostkurv
kurv
madkasse
mappe
lædermappe
attachétaske
attachémappe
dokumentmappe
pung
pengepung
portemonnæ
læderpung
skindpung
tegnebog
tegnedreng
bæltepung
pengebælte
rygsæk
læderrygsæk
kuffert
rejsetaske
rullekuffert
cykeltaske
saddeltaske
køletaske
køleboks
toilettaske
beautyboks
toiletpung
kosmetikpung
vadsæk
ransel
køjesæk
skulderhylster
pistolhylster
skede
læderskede
pilekogger
kogger
skulderrem
bærerem
rem
håndtag
hank
sidelomme
plasticpose
plastpose
bagerpose
kaffepose
slikpose
godtepose
affaldspose
skraldepose
filterpose
filter
gazepose
kaffefilter
kaffepose
tepose
tefilter
frysepose
sprøjtepose
kogepose
stegepose
tebrev
brev
tepose
madpose
doggybag
pengepose
postsæk
sovepose
lagenpose
kørepose
dragtpose
mølpose
snavsetøjspose
sæk
snøvs
stor sæk
jutesæk
lædersæk
lædersæk
papirsæk
plastsæk
plasticsæk
affaldssæk
skraldesæk
kornsæk
melsæk
net
fiskenet
fiskenet
ruse
grødomslag
ispose
mappe
samlemappe
sagsmappe
ringbind
ringordner
chartek
plasticlomme
plasticchartek
frimærkehæfte
indstikskort
hylster
cover
tut
kapsel
kassette
læderhylster
paphylster
kuvert
konvolut
førstedagskuvert
førstedagskonvolut
rudekuvert
rudekonvolut
potte
lerpotte
jydepotte
vase
blomstervase
glasvase
krystalvase
blomsterkasse
altankasse
skraldebøtte
skarnbøtte
skarnkasse
skraldespand
skarnspand
affaldsspand
pedalspand
affaldssæk
skraldesæk
papirsæk
container
affaldscontainer
flaskecontainer
glasbeholder
genbrugscontainer
kompostbeholder
komposttønde
affaldsbeholder
skraldebøtte
skarnbøtte
affaldskurv
papirkurv
kornsæk
mulepose
hæk
foderhus
foderplads
kattebakke
mødding
ajlebeholder
vask
bidet
lastrum
frankeret kuvert
forseglet kuvert
korsbånd
postkasse
frituregryde
friture
stegegryde
fonduegryde
fonduesæt
trykkoger
kokotte
ramekin
krukke
plastbøtte
kagedåse
kagekasse
klejnekasse
honningkrukke
krydderihylde
lerkrukke
lerpotte
potte
saltkar
smørkrukke
henkogningsglas
stenkar
trækar
vandkar
fad
ovnfast/ildfast fad
lågfad
bradepande
gratinfad
osteklokke
fad
beholder
lukket beholder
helflaske
patentflaske
ketchupflaske
termoflaske
vinflaske
champagneflaske
kolbe
tinkande
sølvkande
ølkande
yoghurtbæger
dispenser
opsats
grødfad
peberbøsse
osteklokke
henkogningsglas
cylinderglas
emballageglas
amfora
fad
træfad
vinfad
fjerding
fustage
sildetønde
eddikedunk
fastelavnstønde
porcelæn
sidetallerken
underkop
champagneglas
drinksglas
sjusglas
cocktailglas
tudekop
porcelænskop
drikkehorn
trug
krybbe
drikkekar
dejtrug
fodertrug
ædetrug
hæk
stentrug
vandingstrug
vandtrug
zinkspand
drikkekar
madskål
vandskål
fuglebad
skål
glasskål
keramikskål
sølvskål
sølvfad
kalabasskål
guldkar
sølvkar
alabasterkrukke
drikkehorn
korpusarbejde
pilleglas
pilleæske
sæbeskål
apotekerkrukke
dunk
bøtte
plasticbeholder
plasticdunk
reservedunk
benzindunk
vanddunk
petroleumsdunk
smørekande
blomstersprøjte
blækhus
gasbeholder
gastank
gasflaske
gaspatron
iltflaske
bækken
ajlebeholder
slambassin
slamkiste
spyttebakke
kattebakke
morter
digel
centrifuge
libelle
støbeske
ionbytter
forlag
slusekammer
cisterne
skovl
burette
varmtvandsbeholder
varmtvandsbeholder
bundkar
lydpotte
olietank
benzinstander
gæringstank
produktionstank
lagertank
droptank
ballasttank
kasse
papkasse
boks
boks
beholder
tremmekasse
rodekasse
cigarkasse
bogkasse
violinkasse
brokkasse
sættekasse
stang
pakke
æggebakke
tændstikæske
kassette
båndkassette
gaveæske
fyrtøj
farvelade
kartonnage
hylster
læderetui
cigaretetui
pennalhus
skotøjsæske
makeupæske
brændekurv
moseskurv
frugtkurv
blomsterkurv
overflødighedshorn
kræmmerhus
raflebæger
platmenage
opvaskebakke
kiste
ligkiste
stenkiste
glaskiste
plankekiste
marmorsarkofag
mumiekiste
båre
ligpose
kasse
kabelkanal
sandkasse
postkasse
ark
tidskapsel
taske
skuldertaske
håndtaske
dametaske
laktaske
sort taske
lille taske
stor taske
gymnastikpose
lædertaske
lædervare
cykelkurv
skoletaske
velspækket tegnebog
pengekat
bæltetaske
tornyster
kurvekuffert
gigbag
jagttaske
pose
stor pose
lille pose
læderpose
lærredspose
bærepose
knytte
papirspose
frøpose
mulepose
tiggerpose
fodpose
tung sæk
sandsæk
kulsæk
omslag
bogomslag
pladeomslag
båndkassette
A4-kuvert
A5-kuvert
boblekuvert
særkuvert
lukket kuvert
svarkuvert
lønningspose
urtepotte
blomsterkrukke
gulvvase
plantekasse
blomsterkumme
blomsterkrybbe
krybbe
urtepotteskjuler
skjuler
ampel
affaldsbeholder
affaldskurv
papirkurv
askebæger
olietønde
